<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Note: You can switch out this client id for your own at: developer.spotify.com -->
    <add key="spotify_client_id"  value="9fee270163004feba1fb3653453e5418"/>
    <add key="spotify_api_port" value="8000"/>
    <add key="webaddr_render"   value="http://localhost:8080/trackinfo/"/>
    <!-- Note: If you change the webaddr_json path you will need to update `pages/MusicInfo.html` to match -->
    <add key="webaddr_json"     value="http://localhost:8080/json/"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>